$primary-bright: #e66b81;
$primary-light: #ec7e9c;
$primary-coral: #fe645a;
$primary-text: #333333;
$primary-text-dark: #010101;
$primary-text-grey: #888888;
$background-pink: #ffe0de;
$background-light: #feefeb;
